<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".WallyMeApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_combined"
        android:label="WallyMe"
        android:roundIcon="@drawable/ic_launcher_combined"
        android:supportsRtl="true"
        android:theme="@style/Theme.WallyMe">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.WallyMe">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
